footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	height: 60px;
	border-top: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer > p {
    max-width: 100%;
    margin: auto;
    padding-left: 50px;
    text-align: center;
        font-family: sans-serif;
        font-weight: bold;
}

